:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: aquamarine;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: solid 2px red;
  overflow: hidden;
}
